<app-navbar></app-navbar>
<link rel="stylesheet" href="tabelaadm.component.css">
<div class="container">
   <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="schedule-table">
            <select class="form-select mb-1 mt-3" aria-label="Default select example">
               <option selected disabled>Selecionar curso</option>
               <option value="1">Curso 1</option>
               <option value="2">Curso 2</option>
            </select>
            <select class="form-select mb-1 mt-3" aria-label="Default select example">
               <option selected disabled>Selecionar periodo</option>
               <option value="1">Manhã</option>
               <option value="2">Tarde</option>
               <option value="2">Noite</option>
            </select>
            <input type="number" placeholder="Ano" id="form3Example1m" class="form-control mb-1 mt-3" formControlName="nome" />
            <select class="form-select mb-1 mt-3" aria-label="Default select example">
               <option selected disabled>Selecionar semestre</option>
               <option value="1">Primeiro</option>
               <option value="2">Segundo</option>
            </select>
            <table class="table bg-white mt-5">
               <thead>
                  <tr>
                     <th></th>
                     <th>13:20 - 14:10</th>
                     <th>14:10 - 15:00</th>
                     <th>15:10 - 16:00</th>
                     <th>16:00 - 16:50</th>
                     <th>17:00 - 17:50</th>
                     <th class="last">17:50 - 18:40</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td class="day">
                        <select class="form-select mb-1 mt-3" aria-label="Default select example">
                           <option selected disabled>Dia</option>
                           <option value="1">Segunda-Feira</option>
                           <option value="1">Terça-Feira</option>
                           <option value="1">Quarta-Feira</option>
                           <option value="1">Quinta-Feira</option>
                           <option value="1">Sexta-Feira</option>
                           <option value="1">Sábado</option>
                        </select>
                     </td>
                     <td class="active">
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Wiltão</option>
                           <option value="2">Glock</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Programação</option>
                           <option value="2">Matemádoka</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Sala X12</option>
                           <option value="2">Sala X14</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                            <option selected disabled>Selecionar...</option>
                            <option value="1">Lab X16</option>
                            <option value="2">Lab X10</option>
                         </select>
                     </td>
                     <td>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Wiltão</option>
                           <option value="2">Glock</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Programação</option>
                           <option value="2">Matemádoka</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Sala X12</option>
                           <option value="2">Sala X14</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                            <option selected disabled>Selecionar...</option>
                            <option value="1">Lab X16</option>
                            <option value="2">Lab X10</option>
                         </select>
                     </td>
                     <td class="active">
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Wiltão</option>
                           <option value="2">Glock</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Programação</option>
                           <option value="2">Matemádoka</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Sala X12</option>
                           <option value="2">Sala X14</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                            <option selected disabled>Selecionar...</option>
                            <option value="1">Lab X16</option>
                            <option value="2">Lab X10</option>
                         </select>
                     </td>
                     <td class="active">
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Wiltão</option>
                           <option value="2">Glock</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Programação</option>
                           <option value="2">Matemádoka</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Sala X12</option>
                           <option value="2">Sala X14</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                            <option selected disabled>Selecionar...</option>
                            <option value="1">Lab X16</option>
                            <option value="2">Lab X10</option>
                         </select>
                     </td>
                     <td>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Wiltão</option>
                           <option value="2">Glock</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Programação</option>
                           <option value="2">Matemádoka</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Sala X12</option>
                           <option value="2">Sala X14</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                            <option selected disabled>Selecionar...</option>
                            <option value="1">Lab X16</option>
                            <option value="2">Lab X10</option>
                         </select>
                     </td>
                     <td>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Wiltão</option>
                           <option value="2">Glock</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Programação</option>
                           <option value="2">Matemádoka</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                           <option selected disabled>Selecionar...</option>
                           <option value="1">Sala X12</option>
                           <option value="2">Sala X14</option>
                        </select>
                        <select class="form-select mb-1" aria-label="Default select example">
                            <option selected disabled>Selecionar...</option>
                            <option value="1">Lab X16</option>
                            <option value="2">Lab X10</option>
                         </select>
                     </td>
                  </tr>
               </tbody>
            </table>
            <button type="submit" class="form-control btn btn-success rounded submit mt-3">SALVAR</button>
         </div>
      </div>
   </div>
</div>