<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
  </style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#" style="font-family: 'Inter', sans-serif;">Fatec</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <label class="nav-link" href="#" ngbDropdownToggle>Cadastrar</label>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button [routerLink]="['/adm/cadastrarcurso']" ngbDropdownItem>Cursos</button>
                <button [routerLink]="['/adm/cadastrarprofessor']" ngbDropdownItem>Professores</button>
                <button [routerLink]="['/adm/cadastrardisciplina']" ngbDropdownItem>Disciplinas</button>
                <button [routerLink]="['/adm/cadastrarsala']" ngbDropdownItem>Sala</button>
                <button [routerLink]="['/adm/cadastrarlab']" ngbDropdownItem>Laboratórios</button>                
              </div>
            </div>
          </div>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <label class="nav-link" href="#" ngbDropdownToggle>Agenda</label>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button [routerLink]="['/adm/alocar']" ngbDropdownItem>Alocar Horários</button>
                <button [routerLink]="['/visualizar']" ngbDropdownItem>Ver Horários</button>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>