<app-navbar></app-navbar>
<div class="container" style="background-color: ed;">
    <div class="mt-5">
        <!-- agendas-list.component.html -->

        <div class="container mt-4">
            <input type="text" [(ngModel)]="termoPesquisa" placeholder="Pesquisar por curso" class="form-control mb-3">
            <h2>Listagem de Aulas</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Período</th>
                        <th>Ano</th>
                        <th>Semestre</th>
                        <th>Dia</th>
                        <th>Horário</th>
                        <th>Professor</th>
                        <th>Disciplina</th>
                        <th>Sala</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agenda of filtrarAgendas()">
                        <td>{{ agenda.curso }}</td>
                        <td>{{ agenda.periodo }}</td>
                        <td>{{ agenda.ano }}</td>
                        <td>{{ agenda.semestre }}</td>
                        <td>{{ agenda.dia }}</td>
                        <td>{{ agenda.horario }}</td>
                        <td>{{ agenda.professor }}</td>
                        <td>{{ agenda.disciplina }}</td>
                        <td>{{ agenda.sala }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>