<app-navbar></app-navbar>
<div class="container">
    <div class="mt-5">
        <div class="container mt-4">
            <h2>Listagem de Aulas</h2>
            <input type="text" [(ngModel)]="termoPesquisa" placeholder="Selecionar curso..." class="form-control mb-3">
            <select [(ngModel)]="termoPeriodo" class="form-control mb-3">
                <option disabled value="">Selecionar período...</option>
                <option value="manhã">Manhã</option>
                <option value="tarde">Tarde</option>
                <option value="noite">Noite</option>
            </select>
            <input type="number" [(ngModel)]="termoAno" placeholder="Pesquisar por ano" class="form-control mb-3">
            <table *ngIf="exibirTabela()" class="table table-striped">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Período</th>
                        <th>Ano</th>
                        <th>Semestre</th>
                        <th>Dia</th>
                        <th>Horário</th>
                        <th>Professor</th>
                        <th>Disciplina</th>
                        <th>Sala</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agenda of filtrarAgendas()">
                        <td><Strong>{{ agenda.curso }}</Strong></td>
                        <td><Strong>{{ agenda.periodo }}</Strong></td>
                        <td><Strong>{{ agenda.ano }}</Strong></td>
                        <td>{{ agenda.semestre }}</td>
                        <td>{{ agenda.dia }}</td>
                        <td>{{ agenda.horario }}</td>
                        <td>{{ agenda.professor }}</td>
                        <td>{{ agenda.disciplina }}</td>
                        <td><Strong>{{ agenda.sala }}</Strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>