<app-navbar></app-navbar>
<link rel="stylesheet" href="telainicial.component.css">
<div class="container" style="background-color: ed;">
    <div class="mt-5">
   <h1>Boa tarde, Coordenador</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6" >
          <a href="https://getbootstrap.com/docs/4.0/components/card/" id="botao">
            <div class="card" id="marca">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
        </div>
         <div class="col-sm-6" >
          <a href="https://getbootstrap.com/docs/4.0/components/card/" id="botao">
            <div class="card" id="marca">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
        </div>     
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" >
          <a href="https://getbootstrap.com/docs/4.0/components/card/" id="botao">
            <div class="card" id="marca">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
        </div>
         <div class="col-sm-6" >
          <a href="https://getbootstrap.com/docs/4.0/components/card/" id="botao">
            <div class="card" id="marca">
                <div style="float:right">
                    <img src="assets/img/teste.png">
                </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
        </div>     
    </div>
</div>