<app-navbar></app-navbar>
<link rel="stylesheet" href="telainicial.component.css">
<div class="container">
   <div class="mt-5">
      <h1>Boa tarde, Coordenador</h1>
      <hr>
      <div class="row">
         <div class="col-sm-6" >
            <a routerLink="cadastrarprofessor" id="botao">
               <div class="card" id="marca">
                  <div class="card-body">
                     <h5 class="card-title"> Cadastrar professor</h5>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-sm-6" >
            <a routerLink="cadastrarcurso" id="botao">
               <div class="card" id="marca">
                  <div class="card-body">
                     <h5 class="card-title">Cadastrar cursos</h5>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-sm-6" >
            <a routerLink="cadastrarsala" id="botao">
               <div class="card" id="marca">
                  <div class="card-body">
                     <h5 class="card-title">Cadastrar salas</h5>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-sm-6" >
            <a href="adm/cadastrarlab" id="botao">
               <div class="card" id="marca">
                  <div class="card-body">
                     <h5 class="card-title">Cadastrar laboratório</h5>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <Br>
      <div class="row">
         <div class="col-sm-6" >
            <a href="tabela" id="botao">
               <div class="card" id="marca">
                  <div class="card-body">
                     <h5 class="card-title">Visualizar horários</h5>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-sm-6" >
            <a href="adm/tabela" id="botao">
               <div class="card" id="marca">
                  <div class="card-body">
                     <h5 class="card-title">Alocar salas</h5>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>