<app-navbar></app-navbar>
<link rel="stylesheet" href="cadastrarlab.component.css">
<div class="container" style="background-color: ed;">
  <div class="mt-5">
    <h1>Registrar laboratório</h1>
    <hr>

    <div class="mt-5">
      <div class="card-body col-sm-6 mx-auto text-black" style="background-color: rd;">
        <form [formGroup]="formGroupLab">
          <div class="row">
            <div class="mb-4">
              <div class="form-outline">
                <label class="form-label" for="form3Example1m">Nome do laboratório</label>
                <input type="text" id="form3Example1m" class="form-control form-control-lg" id="linha"
                  formControlName="nomedolab" />
                <div *ngIf="nomedolab.invalid && (nomedolab.dirty || nomedolab.touched)">
                  <small class="text-danger" *ngIf="nomedolab.errors?.pattern">
                    O nome do laboratório não pode conter caracteres especiais.
                  </small>
                  <small class="text-danger" *ngIf="nomedolab.errors?.required">
                    O nome do laboratório é obrigatório.
                  </small>
                </div>
                <div *ngIf="nomedolab.errors?.whitespace && (nomedolab.dirty || nomedolab.touched)">
                  <small class="text-danger">
                    O nome do laboratório não pode consistir apenas em espaços em branco.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example8">Capacidade</label>
            <input type="number" id="form3Example8" class="form-control form-control-lg" id="linha"
              formControlName="capacidade" />
            <div *ngIf="capacidade.invalid && (capacidade.dirty || capacidade.touched)">
              <small class="text-danger" *ngIf="capacidade.errors?.pattern">
                A capacidade deve conter apenas números.
              </small>
              <small class="text-danger" *ngIf="capacidade.errors?.required">
                O número é inválido.
              </small>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example90">Número de Máquinas</label>
            <input type="number" id="form3Example90" class="form-control form-control-lg" id="linha"
              formControlName="ndm" />
            <div *ngIf="ndm.invalid && (ndm.dirty || ndm.touched)">
              <small class="text-danger" *ngIf="ndm.errors?.pattern">
                O número de máquinas deve conter apenas números.
              </small>
              <small class="text-danger" *ngIf="ndm.errors?.required">
                O número é inválido.
              </small>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example90">Descrição da Sala</label>
            <input type="text" id="form3Example90" class="form-control form-control-lg" id="linha"
              formControlName="descricao" />
              <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
                <small class="text-danger" *ngIf="descricao.errors?.pattern">
                  A descrição da sala não pode conter caracteres especiais.
                </small>
                <small class="text-danger" *ngIf="descricao.errors?.required">
                  A descrição da sala é obrigatório.
                </small>
              </div>
              <div *ngIf="descricao.errors?.whitespace && (descricao.dirty || descricao.touched)">
                <small class="text-danger">
                  A descrição da sala não pode consistir apenas em espaços em branco.
                </small>
              </div>
          </div>
          <div class="d-flex d-flex justify-content-between">
            <button type="button" class="btn btn-danger btn-lg" style="width: 300px;"
              (click)="clean()">Cancelar</button>
            <button type="button" class="btn btn-success btn-lg" style="width: 300px;"
              (click)="save()">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>